body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

/*.form-signin input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

/*.form-signin input:first-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input:nth-of-type(2) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

.form-signin input {
  margin-bottom: 5px;
}

.error{ border: 1px solid red;}


.alertbox {
  margin-top: 20px;
}


#resultContainer.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

#resultContainer.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

#resultContainer.progress {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

#count_down {
  margin-left: 5px;
}

.form-control:focus {
  /*border-color: inherit;*/
}
